[Unit]
Description = Input event to MQTT gateway

[Service]
User = pi
Group = pi
Type=simple
#Edit these paths
WorkingDirectory=/home/pi/evmqtt
ExecStart=/home/pi/evmqtt/evmqtt.py
Restart = always
RestartSec = 60

[Install]
WantedBy=multi-user.target

