[Unit]
Description = Input event to MQTT gateway
#Edit to include whatever you want here
#After=hassio-supervisor.service
#Requires=hassio-supervisor.service

[Service]
User = odt
Group = odt
Type=simple
#Edit and uncomment
#ExecStart=<PATHTO>/evmqtt.py
Restart = always
RestartSec = 60

[Install]
WantedBy=multi-user.target

